html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 700px;
    width: 100%;
}

.frame {
    float: left;
    margin: 0;
    padding: 10px;
    border: none;
    height: calc(100% - 20px);
}

#inputs {
    width: 200px;
    overflow: scroll;
}

.header {
    font-family: serif;
    font-size: 18px;
}

.indentedlist {
    font-family: serif;
    font-size: 14px;
    line-height: 1.5;
}
